@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    font-family: 'Inter', sans-serif;
    color: #3f3f46;
    background-color: #FFF;
  }
}